.side-bar
  .header
    .header__name
      masa
    .header__lists
      .list
        =link_to '#' do
          = icon('fa', 'edit',class: 'icon')
      .list
        =link_to '#' do
          = icon('fa', 'cog',class: 'icon')

  .groups
    .group
      .group__name
        techcamp
      .group__message
        まだメッセージはありません
    .group
      .group__name
        techcamp
      .group__message
        まだメッセージはありません
    .group
      .group__name
        techcamp
      .group__message
        まだメッセージはありません